{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
    name: {{ include "cloudguard.fullname" .}}
    labels:
        release: monitoring-stack
        {{- include "cloudguard.labels" . | nindent 8 }}
spec:
    selector:
        matchLabels:
            {{- include "cloudguard.selectorLabels" . | nindent 12 }}
    endpoints:
        - port: http
          path: /metrics
          interval: 15s
{{- end }}
