{{- if .Values.serviceAccount.create -}}
# This "if" block means this file will only be used
# if 'serviceAccount.create' is 'true' in our values.yaml

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceAccount.name }}
  labels:
    {{- include "cloudguard.labels" . | nindent 4 }}

  # This is the "magic" for IRSA (IAM Roles for Service Accounts).
  # It takes the 'eks.amazonaws.com/role-arn' annotation
  # from our values.yaml and stamps it onto this ServiceAccount.
  annotations:
    {{- toYaml .Values.serviceAccount.annotations | nindent 4 }}

automountServiceAccountToken: true
{{- end -}}
