# k8s/charts/cloudguard/mlflow-values.yaml

# 1. Enable S3 for Artifacts
artifactRoot:
  s3:
    enabled: true
    bucket: "cloudguard-sentinel-datalogs-surabhi"

# 2. Configure the Service Account
serviceAccount:
  create: true
  name: "mlflow-server"
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::447646782725:role/cloudguard-app-pod-role"

# 3. PostgreSQL Settings
postgresql:
  enabled: true
  image:
    tag: "latest"
  auth:
    username: "mlflow"
    password: "mlflow-password"
    database: "mlflow"
  # RAMDISK MODE (optional, for better performance)
  primary:
    persistance:
      enabled: false

# We explicitly set the image repo here just to be safe, but more importantly, we override the COMMAND
image:
  repository: ghcr.io/surabhisahay03/cloudguard-sentinel
  tag: latest
  pullpolicy: Always

  # This changes it from FASTAPI to MLflow Server
  command:
    - "mlflow"
    - "server"

# 4. Connect MLFLOW to PostgreSQL and S3
# We construct the connection strings here using the sub-chart's DNS names.
# The format is: postgresql://[user]:[password]@[release-name]-postgresql:5432/[db_name]
extraArgs:
  host: "0.0.0.0"
  port: "5000"
  # Note: 'mlflow' is the release name we use in the helm command below
  backend-store-uri: "postgresql://mlflow:mlflow-password@mlflow-db-postgresql:5432/mlflow"
  default-artifact-root: "s3://cloudguard-sentinel-datalogs-surabhi/"
