# k8s/charts/cloudguard/mlflow-values.yaml

# 1. ARTIFACT ROOT
artifactRoot:
  s3:
    enabled: true
    bucket: "cloudguard-sentinel-datalogs-surabhi"

# 2. SERVICE ACCOUNT
serviceAccount:
  create: true
  name: "mlflow-server"
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::447646782725:role/cloudguard-app-pod-role"

# 3. S3 CONFIGURATION
extraEnvVars:
  MLFLOW_S3_ENDPOINT_URL: "https://s3.us-east-1.amazonaws.com"
  MLFLOW_S3_IGNORE_TLS: "false"

# 4. SECURITY FIX (This is what is missing!)
# This tells MLflow to accept connections from your training job.
extraArgs:
  host: "0.0.0.0"
