# k8s/charts/cloudguard/mlflow-values.yaml

# 1. ARTIFACT ROOT (Must be an object)
artifactRoot:
  s3:
    enabled: true
    bucket: "cloudguard-sentinel-datalogs-surabhi"
    # We leave keys empty because we are using IRSA (IAM Roles)

# 2. SERVICE ACCOUNT (The "Passport")
serviceAccount:
  create: true
  name: "mlflow-server"
  annotations:
    # IMPORTANT: You must replace this with your actual IAM Role ARN
    # (The same one we used for the App and Trainer)
    eks.amazonaws.com/role-arn: "arn:aws:iam::447646782725:role/cloudguard-app-pod-role"

# 3. S3 CONFIGURATION
extraEnvVars:
  MLFLOW_S3_ENDPOINT_URL: "https://s3.us-east-1.amazonaws.com"
  MLFLOW_S3_IGNORE_TLS: "false"

# 4. REMOVE 'backendStore' block to default to SQLite (Simpler for now)
