replicaCount: 1

image:
  repository: nginx
  tag: "stable"

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

ingress:
  enabled: true
  class: nginx
  host: cloudguard.local

# Horizontal Pod Autoscaler
hpa:
  enabled: false  # <-- Disabled by default
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50
