replicaCount: 1

image:
  repository: ghcr.io/surabhisahay03/cloudguard-sentinel
  tag: sha-5e8d5c4
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

ingress:
  enabled: true
  class: nginx
  annotations: {}
  hosts:
    - host: api.buildwithsurabhi.com
      paths:
        - path: /
          pathType: Prefix

# Horizontal Pod Autoscaler
hpa:
  enabled: false  # <-- Disabled by default
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50

# -----------------------------------------------
# Service Account & S3 Logging Configuration
# -----------------------------------------------

# Create a service account?
serviceAccount:
  create: true

  # The name of the service account to create
  name: "cloudguard-sa"

  # Annotations for the service account
  # This is the "magic" that links our Kubernetes
  # ServiceAccount to our AWS IAM Role (IRSA).
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::447646782725:role/cloudguard-app-pod-role"

postgresql:
  enabled: false

# S3 logging configuration
s3:
  log_bucket_name: "cloudguard-sentinel-datalogs-surabhi"

# MLFLOW Tracking Uri:
mlflow:
  # Format: http://<release-name>.<namespace>.svc.cluster.local:<port>
  mlflow_tracking_uri: "http://mlflow-stack-cloudguard.mlflow.svc.cluster.local:5000"

# Readiness and Liveness Probe Settings
readinessProbe:
  initialDelaySeconds: 120

livenessProbe:
  initialDelaySeconds: 180

serviceMonitor:
  enabled: true
